<h3>time-format</h3>
<div>
  <code>\{{time-format now}}</code>
  {{time-format now}}
  <br>
  <code>\{{time-format now 'LLL'}}</code>
  {{time-format now 'LLL'}}
  <br>
  <code>\{{time-format now 'LLLL' 'pt-br'}}</code>
  {{time-format now 'LLLL' 'pt-br'}}
</div>

<h3>time-ago-in-words</h3>
<div>
  <code>\{{time-ago-in-words lastHour}}</code>
  {{time-ago-in-words lastHour}}
  <br>
  <code>\{{time-ago-in-words lastHour 'pt-br'}}</code>
  {{time-ago-in-words lastHour 'pt-br'}}
</div>
<h3>day-of-the-week</h3>
<div>
  <code>\{{day-of-the-week now}}</code>
  {{day-of-the-week now}}
  <br>
  <code>\{{day-of-the-week now 'pt-br'}}</code>
  {{day-of-the-week now 'pt-br'}}
</div>

<h3>time-ahead-in-words</h3>
<div>
  <code>\{{time-ahead-in-words nextHour}}</code>
  {{time-ahead-in-words nextHour}}
  <br>
  <code>\{{time-ahead-in-words nextHour 'pt-br'}}</code>
  {{time-ahead-in-words nextHour 'pt-br'}}
</div>

<h3>time-delta-in-words</h3>
<div>
  <code>\{{time-delta-in-words lastHour}}</code>
  {{time-delta-in-words lastHour}}
  <br>
  <code>\{{time-delta-in-words lastHour 'pt-br'}}</code>
  {{time-delta-in-words lastHour 'pt-br'}}
</div>
