<h3>time-format</h3>
<div>
  <code>\{{time-format now}}</code>
  {{time-format now}}
</div>

<h3>time-ago-in-words</h3>
<div>
  <code>\{{time-ago-in-words lastHour}}</code>
  {{time-ago-in-words lastHour}}
</div>

<h3>day-of-the-week</h3>
<div>
  <code>\{{day-of-the-week now}}</code>
  {{day-of-the-week now}}
</div>

<h3>time-ahead-in-words</h3>
<div>
  <code>\{{time-ahead-in-words nextHour}}</code>
  {{time-ahead-in-words nextHour}}
</div>

<h3>time-delta-in-words</h3>
<div>
  <code>\{{time-delta-in-words lastHour}}</code>
  {{time-delta-in-words lastHour}}
</div>
